@model IEnumerable<articles>


<h1>Index</h1>
<form class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    title
                </th>
                <th>
                    description
                </th>
                <th>
                    image
                </th>
                <th>
                    user_id
                </th>
                <th>
                    category_id
                </th>
                <th>
                    created_at
                </th>
                <th>
                    updated_at
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.id
                    </td>
                    <td>
                        @item.title
                    </td>
                    <td>
                        @item.description
                    </td>
                    <td>
                        @item.image
                    </td>
                    <td>
                        @item.user_id
                    </td>
                    <td>
                        @item.categoryid
                    </td>
                    <td>
                        @item.DTStamp
                    </td>
                    <td>
                        @item.UpdatedDTStamp
                    </td>

                </tr>
            }
        </tbody>
    </table>
</form>
